@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin: 0;
    inset: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(
        transparent 0,
        rgb(247, 243, 244) 100%
    );
}

label {
    font-weight: bold;
    width: 100px;
    flex: 0 0 auto;
    margin: 20px 0;
}

#sign_up_form > div {
    display: flex;
}

.gender_input {
    display: flex;
    gap: 20px;
    margin-block: 15px;
}

input[type="text"],
textarea {
    border: none;
    border-bottom: 1px solid #ccc;
}

.form_container{
    @apply max-w-xl border-[1px] border-[#ccc] border-solid my-6 py-6 shadow-lg rounded-2xl relative bg-white
}

.form_heading{
    @apply text-4xl mb-8
}

input[type="text"],
textarea{
    @apply p-3 my-2 border-b border-b-[#ccc] w-[250px] max-w-[400px] resize-y;
}

input[type="submit"] {
    @apply bg-[#4CAF50] text-white px-14 py-2 border-none rounded-full cursor-pointer text-lg transition-all self-center hover:bg-[#3e8e41];
}

.flex_center{
    @apply flex justify-center items-center;
}

.flex_start{
    @apply flex items-start justify-center;
}

.flex_between{
    @apply flex justify-between items-center
}

.box{
    @apply px-8 py-3 sm:px-12
}

.box_size{
    max-width: 1400px;
}

.outline_btn{
    @apply rounded-full py-[6px] px-5 border border-solid border-black cursor-pointer font-semibold hover:bg-black hover:text-white transition-all
}

@media screen and (max-width: 450px) {
    #sign_up_form > div{
        flex-direction: column;
    }

    #sign_up_form > :nth-last-child(2){
        flex-direction: row;
    }
    label{
        margin: 0;
    }
    input[type="text"],
    textarea {
    margin-top: 0;
    width: 200px;
}
  }