.container{
    border: 1px dashed rgb(119, 110, 188);
    min-height: 80vh;
    width: 65vw;
    max-width: 900px;
    margin: auto;
    /* text-align: center; */
    font-weight: 600;
    background-color: aliceblue;
    background-image: radial-gradient(
        transparent 0,
        rgb(247, 243, 244) 100%
    );
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
}

.heading{
    font-size: 25px;
    margin-bottom: 10px;
}

.videoFrame{
    min-height: 300px;
    width: 90%;
    aspect-ratio: initial;
    border-radius: 10px;
}

@media  screen and (max-width: 710px) {
    .container{
        width: 80vw;
    }    
}